openai-whisper
ffmpeg-python
pysrt
boto3==1.28.62
python-dotenv>=1.0.0
tqdm>=4.65.0
numpy==1.24.3
torch==2.1.0
transformers>=4.30.2
streamlit>=1.25.0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
